[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

*.csproj
*.unityproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd

*.apk
*.aab
*.unitypackage

.vs/
.vscode/

Assets/_Recovery/
Assets/*Recovery*